@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <input type="button" class="btn btn-outline-light" value="@User.Identity?.Name"/>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Currencies", new { area = "" })">
            <input type="button" class="btn btn-outline-light" value="Log Out"/>
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">
            <input type="button" class="btn btn-outline-light" value=" Log In "/>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">
            <input type="button" class="btn btn-light" value="Sign Up"/>
        </a>
    </li>
}
</ul>
